#!/bin/bash

cp /etc/hyperledger/fabric/core.yaml  ./
export FABRIC_CFG_PATH=`pwd`
export CORE_PEER_TLS_ENABLED=true
export CORE_PEER_TLS_CERT_FILE=../crypto/peerOrganizations/{{p.domain}}/users/Admin@{{p.domain}}/tls/client.crt
export CORE_PEER_TLS_KEY_FILE=../crypto/peerOrganizations/{{p.domain}}/users/Admin@{{p.domain}}/tls/client.key

export CORE_PEER_MSPCONFIGPATH=../crypto/peerOrganizations/{{p.domain}}/users/Admin@{{p.domain}}/msp
export CORE_PEER_ADDRESS={{p.name}}:7051
export CORE_PEER_LOCALMSPID={{p.mspid}}
export CORE_PEER_TLS_ROOTCERT_FILE=../crypto/peerOrganizations/{{p.domain}}/users/Admin@{{p.domain}}/tls/ca.crt
export CORE_PEER_ID={{p.name}}-cli
export CORE_LOGGING_LEVEL=INFO

peer $*