# @author haiyang.song
# @date 2018-11-6

version: '2'

services:{% for zk in zk_list %}
  {{ zk.name }}:
    image: hyperledger/fabric-zookeeper
    restart: always
    container_name: {{ zk.name }}
    hostname: {{ zk.name }}
    environment:
      - quorumListenOnAllIPs=true
      # ID在集合中必须是唯一的并且应该有一个值在1-255之间。
      - ZOO_MY_ID={{ zk.id }}
      # 组成ZK集合的服务器列表。客户端使用的列表必须与ZooKeeper服务器列表所拥有的每一个ZK服务器相匹配。
      # 有两个端口号：第一个是追随者用来连接领导者的，第二个是领导人选举。
      - ZOO_SERVERS={{ zoo_servers }}
    volumes:{% for volume in zk.volumes %}
      - {{ volume }}{% endfor %}
    extra_hosts:{% for host in zk_hosts %}
      - "{{host}}"{% endfor %}
    ports:{% for port in zk.ports %}
      - "{{port}}"{% endfor %}
{% endfor %}