# @author haiyang.song
# @date 2018-11-6

version: '2'
services:
  {{ca.name}}:
    image: hyperledger/fabric-ca
    restart: always
    hostname: {{ ca.name }}
    environment:
    - FABRIC_CA_HOME=/etc/hyperledger/fabric-ca-server
    - FABRIC_CA_SERVER_CA_NAME={{ca.name}}
    - FABRIC_CA_SERVER_TLS_ENABLED=true
    - FABRIC_CA_SERVER_TLS_CERTFILE=/etc/hyperledger/fabric-ca-server-config/{{ca.name}}-cert.pem
    - FABRIC_CA_SERVER_TLS_KEYFILE=/etc/hyperledger/fabric-ca-server-config/{{ca.private_key}}
    ports:
    - "{{ca.port}}:7054"
    command: sh -c 'fabric-ca-server start --ca.certfile /etc/hyperledger/fabric-ca-server-config/{{ca.name}}-cert.pem --ca.keyfile /etc/hyperledger/fabric-ca-server-config/{{ca.private_key}} -b {{ca.admin.username}}:{{ca.admin.password}} -d'
    volumes:
    - ./crypto-config/peerOrganizations/{{ca.domain}}/ca/:/etc/hyperledger/fabric-ca-server-config
    container_name: {{ca.name}}