# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

# ---------------------------------------------------------------------------
# "OrdererOrgs" - Definition of organizations managing orderer nodes
# ---------------------------------------------------------------------------
OrdererOrgs:
  - Name: {{ orderer.name }}
    Domain: {{ orderer.domain }}
    CA:
        Country: {{ orderer.country }}
        Province: {{ orderer.province }}
        Locality: {{ orderer.locality }}

    Specs:{% for host in orderer.orderer_address %}
        - Hostname: {{host}}{% endfor %}

# ---------------------------------------------------------------------------
# "PeerOrgs" - Definition of organizations managing peer nodes
# ---------------------------------------------------------------------------
PeerOrgs:
  {% for org in org_list %}
  # ---------------------------------------------------------------------------
  # Org1
  # ---------------------------------------------------------------------------
  - Name: {{ org.name }}
    Domain: {{ org.title }}.{{ org.domain }}
    ##  如果设置了EnableNodeOUs，就在msp下生成config.yaml文件
    EnableNodeOUs: true
    CA:
        Country: {{ org.country }}
        Province: {{ org.province }}
        Locality: {{ org.locality }}
    Template:
        ##  表示生成几个Peer
        Count: 2
    Users:
        ##  表示生成几个 普通User
        Count: 1{% endfor %}
