# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

# ---------------------------------------------------------------------------
# "OrdererOrgs" - Definition of organizations managing orderer nodes
# ---------------------------------------------------------------------------
OrdererOrgs:
  - Name: {{ orderer.name }}
    Domain: {{ orderer.domain }}
    CA:
        Country: US
        Province: California
        Locality: San Francisco

    Specs:{% for host in orderer.orderer_address %}
        - Hostname: {{host}}{% endfor %}

# ---------------------------------------------------------------------------
# "PeerOrgs" - Definition of organizations managing peer nodes
# ---------------------------------------------------------------------------
PeerOrgs:
  {% for org in org_list %}
  # ---------------------------------------------------------------------------
  # Org1
  # ---------------------------------------------------------------------------
  - Name: {{ org.name }}
    Domain: {{ org.title }}.{{ org.domain }}
    EnableNodeOUs: true
    CA:
        Country: US
        Province: California
        Locality: San Francisco
    Template:
        Count: 2
    Users:
        Count: 1{% endfor %}
